// app global css in SCSS form
*{
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px; /* Reset to normal */
}

body {
  font-family: 'Roboto', sans-serif; /* or your custom font */
  font-size: 0.95rem; /* Slightly smaller base text */
}