// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

// $primary:   #2d6a4f; // strong, rich green-teal

// $secondary: #38a3a5; // slightly darker, good contrast
// $accent:    #57cc99; // deep accent


// $dark:      #121212;
// $dark-page: #0D0D0D;

// $positive:  #90a955;
// $negative:  #c10015; // keep red for alerts
// $info:      #ecf39e;
// $warning:   #f2c037;
// $light:     #F5F5F5; // off-white, easy on the eyes
// $grey-1:    #E0E0E0;
// $grey-2:    #BDBDBD;
// $grey-3:    #9E9E9E;
// $grey-4:    #757575;
// $grey-5:    #616161;
// $grey-6:    #424242;
// $grey-7:    #212121;
// $grey-8:    #121212;
// $grey-9:    #0D0D0D;
// $grey-10:   #000000;
$primary:   #4e805e; // from garden primary
$secondary: #bea87c;
$accent:    #365f5b;
$btn-primary-color: #291E00; 
$dark:      #171c1d;
$dark-page: #1e2320;

$positive:  #90a955;
$negative:  #c10015;
$info:      #b6c9a0; // softer green info
$warning:   #f2c037;

$light:     #f5f5f5;
$btn-primary-bg: #291E00;   // background
$btn-primary-text: #f5f5f5; // off-white text for contrast
$btn-primary-hover: #4e805e; // hover with garden green
$btn-primary-border: #bea87c; // subtle border to tie with secondary
