@import url('https://fonts.googleapis.com/css2?family=SN+Pro:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Set your custom font */
  --font-sans: "SN Pro", ui-sans-serif, system-ui;

  /* Add any custom theme colors here if needed */
}

/* FORCE DARK MODE STRATEGY
   This tells Tailwind v4 to trigger 'dark:' classes
   whenever the .dark class is present on the html tag.
*/
@custom-variant dark (&:where(.dark, .dark *));

/* App-wide base tweaks */
html,
body,
#app {
  height: 100%;
}

.input {
  @apply w-full px-3 py-2 rounded-lg bg-blue-50 border border-white/10 text-sm text-zinc-500 focus:ring-2 focus:ring-blue-500/40 focus:outline-none;
}

body {
  margin: 0;
}